pyngrok
fastapi 
uvicorn 
cmake

# google translate api
googletrans==4.0.0-rc1
langdetect

# spacy for comparing text
spacy
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc

wheel

# yolov8
ultralytics
torch 
torchvision 
torchaudio

# ocr
paddleocr
paddlepaddle

# face recognition 
dlib
face_recognition
python-multipart

# Search Engine
DeepImageSearch

# roboflow
roboflow
